;  Twitch Chat Settings
; 
; "channel" is the twitch channel the bot will join to listen for messages

[twitch]
channel = nightattack


; Database Settings

; "tableName" - Database Table to insert records into
; "fieldName" - This field in the above table will be populated with the player's twitch Display Name (username)
; "updateIntervalMs" - How often (in milliseconds) the player list is batched up and pushed into the Database (e.g. 5000 = 5 seconds). For API rate-limiting.

[database]
username = ADMIN
password = P@ssw0rd1!
host = adb.us-ashburn-1.oraclecloud.com
port = 1522
service_name = ga3m13m134_marbles_medium.adb.oraclecloud.com
retry_count = 20
retry_delay = 3
tableName = newPlayerChurn
playerNameField = displayName
twitchIDField = twitchID
subscriberTierField = subscriberTier
updateIntervalMs = 5000

[marbles]
; "playEmotes" - these are emotes that work just like !play to join a race.  These change over time, so this should be kept up-to-date
; some regular marbles players use these to join games even on other channels rather than using !play, so we need to catch them as well
; https://discord.com/channels/393873383227392001/501163493429346325/780671580006121493
; https://discord.com/channels/393873383227392001/612253606275579904
playEmotes = pbpsSkylar, pbpsMarble, pbpsPlayT1, pbpsPlayT2, pbpsPlayT3,mospacPlay,enderz2Love,enderz2Sith,spoooGasm,spoooA,standa3Play,standa3Kappa,standa3Mask,headsn1Lit,headsn1Hornsup,ltdigiLove2,ltdigiOkay,sleepy24Sip,kibbleL,dnp3Wolfpack,vibbleLove,audeovLuvU
